<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSLG_OCR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="DSLG_OCR.Properties.Settings.DSLGConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\DSLG_OCR\MDB\DSLG.mdb"
      providerName="System.Data.OleDb" />
    <add name="DSLG_OCR.Properties.Settings.mdbOlePath" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\DSLG_OCR\MDB\DSLG.mdb"
      providerName="" />
    <add name="DSLG_OCR.Properties.Settings.mdbPathTemp" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\DSLG_OCR\MDB\DSLG_Temp.mdb" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
    <applicationSettings>
        <DSLG_OCR.Properties.Settings>
            <setting name="frmPath" serializeAs="String">
                <value>c:\DSLG_OCR\FMT\daisei300.fmt</value>
            </setting>
            <setting name="imgInPath" serializeAs="String">
                <value>c:\DSLG_OCR\SCAN\</value>
            </setting>
            <setting name="imgOutPath" serializeAs="String">
                <value>c:\DSLG_OCR\DATA\</value>
            </setting>
            <setting name="ngPath" serializeAs="String">
                <value>c:\DSLG_OCR\NG\</value>
            </setting>
            <setting name="zoomRate" serializeAs="String">
                <value>0.35</value>
            </setting>
            <setting name="logPath" serializeAs="String">
                <value>c:\DSLG_OCR\LOG\</value>
            </setting>
            <setting name="mdbPath" serializeAs="String">
                <value>c:\DSLG_OCR\MDB\</value>
            </setting>
        </DSLG_OCR.Properties.Settings>
    </applicationSettings>
</configuration>